body {
    background-color: peachpuff;
}
h2 {
    text-align:center;
}
nav {
    text-align:center;
}
div {
    width: 300px;
    background-color: white;
    border: solid;
    margin-left: 20px;
}
div2 {
    float: right;
     width: 300px;
    background-color: white;
    border: solid;
    margin-left: 20px;
    padding: 10px;
}
