h1 {
    text-align: center;
}
nav {
    text-align:center;
}
div {
    width: 300px; 
    background-color: peachpuff;
    border: solid;
    margin-left: 20px;
}
body { 
  background-image: url("webpage\ background.png"); 
  background-repeat: no-repeat;
}
footer {
    width: 300px; 
    background-color: peachpuff;
    border: solid;
    margin-left: 1500px;
}
button {
    position: absolute;
    right: 100px;
    top: 30px;
}
